Importeren van modules

In [9]:
import pandas as pd
import pyodbc
import sqlite3
import numpy as np

Connectie maken met de  SSMS database

In [14]:
DB = {'servername': 'LAPTOP-NIPS1D14\SQLEXPRESS',
    'database': 'johari'}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + 
                     ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

# Read the data from the SQL Server
query = 'SELECT * FROM dbo.rPRODUCT'
product = pd.read_sql(query, export_conn)

product.head()

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\Jimmy\AppData\Local\Temp\ipykernel_23344\2103634628.py:1: SyntaxWarning: invalid escape sequence '\S'
  DB = {'servername': 'LAPTOP-NIPS1D14\SQLEXPRESS',
C:\Users\Jimmy\AppData\Local\Temp\ipykernel_23344\2103634628.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product = pd.read_sql(query, export_conn)

Empty DataFrame
Columns: [product_product_id, product_name, product_image, product_line_name, product_type_name, product_introduction_date, product_cost, product_margin, product_language]
Index: []

Aanmaken van een SQLite database. Hier worden alle bewerkingen toegepast. Pas wanneer alles klaar is, worden alle gegevens binnen deze SQLite database overgezet naar de SSMS database

In [12]:
import datetime

# Voor het geval dat de database nog niet bestaat, maak een nieuwe SQLite-database aan
conn = sqlite3.connect('johari_sqlite.db')

# Nieuwe dataframes met dummy data
dbo_product = pd.DataFrame({
    'PRODUCT_id': [1, 2, 3],
    'PRODUCT_name': ['Moondrop Variations', 'Sony IER-Z1R', 'Truthear Nova'],
    'PRODUCT_image': ['moondrop.jpg', 'sony.jpg', 'truthear.jpg'],
    'PRODUCT_LINE_name': ['Moondrop', 'Sony', 'Truthear'],
    'PRODUCT_TYPE_name': ['In-ear monitor', 'In-ear monitor', 'In-ear monitor'],
    'PRODUCT_INTRODUCTION_DATE_date': [datetime.date(2021, 1, 1), datetime.date(2021, 1, 1), datetime.date(2021, 1, 1)],
    'PRODUCT_COST_price': [400, 1100, 180],
    'PRODUCT_MARGIN_dimensions': [0.5, 0.6, 0.7],
    'PRODUCT_LANGUAGE_name': ['English', 'English', 'English'],
})

dbo_sales_staff = pd.DataFrame({
    'SALES_STAFF_id': [1, 2, 3],
    'SALES_STAFF_f_name': ['Karel', 'Henk', 'Regen'],
    'SALES_STAFF_l_name': ['Ankerwout', 'Tank', 'Achterstevoren'],
    'SALES_STAFF_phone': ['+316456789', '+316654321', '+316123123'],
    'SALES_STAFF_email': ['k.anker@yandex.ru', 'henk@yahoo.com', 'nee@ger.com'],
    'SALES_STAFF_fax': ['+316456789', '+316654321', '+316123123'],
    'SALES_STAFF_sales_branch_id': [1, 2, 3],
    'SALES_STAFF_POSITION_EN_name': ['Sales Manager', 'Sales Manager', 'Sales Manager'],
    'SALES_STAFF_DATE_HIRED_date': [datetime.date(2021, 1, 1), datetime.date(2021, 1, 1), datetime.date(2021, 1, 1)],
    'SALES_STAFF_EXTENSION_extension': ['+316456789', '+316654321', '+316123123'],
    'SALES_STAFF_SALES_BRANCH_address1': ['Kerkstraat 1', 'Kerkstraat 2', 'Kerkstraat 3'],
    'SALES_STAFF_SALES_BRANCH_address2': ['Kerkstraat 1', 'Kerkstraat 2', 'Kerkstraat 3'],
    'SALES_STAFF_SALES_BRANCH_region': ['Noord', 'Zuid', 'Oost'],
    'SALES_STAFF_SALES_BRANCH_city': ['Amsterdam', 'Rotterdam', 'Utrecht'],
    'SALES_STAFF_SALES_BRANCH_postal_zone': ['1000AA', '2000BB', '3000CC'],
    'SALES_STAFF_COUNTRY_id': [1, 2, 3],
    'SALES_STAFF_COUNTRY_name': ['Netherlands', 'Belgium', 'Germany'],
    'SALES_STAFF_COUNTRY_language': ['Dutch', 'French', 'German'],
    'SALES_STAFF_COUNTRY_currency': ['Euro', 'Euro', 'Euro'],
})

dbo_retailer_contact = pd.DataFrame({
    'retailer_contact_contact_id': np.random.randint(1, 100, size=10),
    'retailer_contact_site_id': np.random.randint(1, 100, size=10),
    'retailer_contact_first_name': np.random.choice(['John', 'Jane', 'Jim', 'Jill', 'Joe'], size=10),
    'retailer_contact_last_name': np.random.choice(['Smith', 'Johnson', 'Williams', 'Jones', 'Brown'], size=10),
    'retailer_contact_job_position_en': np.random.choice(['Manager', 'Employee', 'CEO', 'CFO', 'CTO'], size=10),
    'retailer_contact_extension': np.random.randint(1, 100, size=10),
    'retailer_contact_fax': np.random.randint(1, 100, size=10),
    'retailer_contact_email': [f'test{i}@test.com' for i in range(10)],
    'retailer_contact_gender': np.random.choice(['Male', 'Female'], size=10),
    'retailer_id': np.random.randint(1, 100, size=10),
    'retailer_codemr': np.random.randint(1, 100, size=10),
    'retailer_company_name': [f'Company{i}' for i in range(10)],
    'retailer_age_group_id': np.random.randint(1, 100, size=10),
    'retailer_age_group_upper_age': np.random.randint(30, 60, size=10),
    'retailer_age_group_lower_age': np.random.randint(20, 30, size=10),
    'retailer_sales_demographic_id': np.random.randint(1, 100, size=10),
    'retailer_sales_demographic_codemr': np.random.randint(1, 100, size=10),
    'retailer_sales_demographic_age_group_id': np.random.randint(1, 100, size=10),
    'retailer_sales_demographic_sales_percent': np.random.random(size=10),
    'retailer_sales_territory_id': np.random.randint(1, 100, size=10),
    'retailer_sales_territory_name_en': [f'Territory{i}' for i in range(10)],
    'retailer_country_id': np.random.randint(1, 100, size=10),
    'retailer_country_country_en': [f'Country{i}' for i in range(10)],
    'retailer_country_flag_image': [f'Image{i}' for i in range(10)],
    'retailer_country_sales_territory_id': np.random.randint(1, 100, size=10),
    'retailer_site_id': np.random.randint(1, 100, size=10),
    'retailer_site_retailer_id': np.random.randint(1, 100, size=10),
    'retailer_site_address1': [f'Address{i}' for i in range(10)],
    'retailer_site_address2': [f'Address{i}' for i in range(10)],
    'retailer_site_city': [f'City{i}' for i in range(10)],
    'retailer_site_region': [f'Region{i}' for i in range(10)],
    'retailer_site_postal_zone': [f'Postal{i}' for i in range(10)],
    'retailer_site_country_id': np.random.randint(1, 100, size=10),
    'retailer_site_active_indicator': np.random.choice([True, False], size=10),
    'retailer_headquarters_codemr': np.random.randint(1, 100, size=10),
    'retailer_headquarters_name': [f'Name{i}' for i in range(10)],
    'retailer_headquarters_address1': [f'Address{i}' for i in range(10)],
    'retailer_headquarters_address2': [f'Address{i}' for i in range(10)],
    'retailer_headquarters_city': [f'City{i}' for i in range(10)],
    'retailer_headquarters_region': [f'Region{i}' for i in range(10)],
    'retailer_headquarters_postal_zone': [f'Postal{i}' for i in range(10)],
    'retailer_headquarters_country_id': np.random.randint(1, 100, size=10),
    'retailer_headquarters_phone': [f'Phone{i}' for i in range(10)],
    'retailer_headquarters_fax': [f'Fax{i}' for i in range(10)],
    'retailer_headquarters_segment_id': np.random.randint(1, 100, size=10),
    'retailer_type_id': np.random.randint(1, 100, size=10),
    'retailer_type_type_en': [f'Type{i}' for i in range(10)],
    'retailer_segment_id': np.random.randint(1, 100, size=10),
    'retailer_segment_language': [f'Language{i}' for i in range(10)],
    'retailer_segment_name': [f'Segment Name{i}' for i in range(10)],
    'retailer_segment_description': [f'Segment Description{i}' for i in range(10)],
})

dbo_returned_reason = pd.DataFrame({
    'RETURNED_REASON_id': [1, 2, 3],
    'RETURNED_REASON_DESCRIPTION_name': ['Broken', 'Not satisfied', 'Wrong product'],
})

dbo_order_method = pd.DataFrame({
    'ORDER_METHOD_id': [1, 2, 3],
    'ORDER_METHOD_EN_name': ['Online', 'Phone', 'Mail'],
})

dbo_course = pd.DataFrame({
    'COURSE_id': [1, 2, 3],
    'COURSE_DESCRIPTION_en': ['Programming', 'Querying', 'Spreadsheets'],
})

dbo_satisfaction_type = pd.DataFrame({
    'SATISFACTION_TYPE_id': [1, 2, 3],
    'SATISFACTION_TYPE_DESCRIPTION_name': ['Good', 'Bad', 'Neutral'],
})

# Exporteer de dataframes naar de SQLite-database
dbo_product.to_sql('PRODUCT', conn, if_exists='replace', index=False)
dbo_sales_staff.to_sql('SALES_STAFF', conn, if_exists='replace', index=False)
dbo_retailer_contact.to_sql('RETAILER_CONTACT', conn, if_exists='replace', index=False)
dbo_returned_reason.to_sql('RETURNED_REASON', conn, if_exists='replace', index=False)
dbo_order_method.to_sql('ORDER_METHOD', conn, if_exists='replace', index=False)
dbo_course.to_sql('COURSE', conn, if_exists='replace', index=False)
dbo_satisfaction_type.to_sql('SATISFACTION_TYPE', conn, if_exists='replace', index=False)

3

Zet alle gegevens om van de SQLite .db bestand naar de officiele SSMS database

In [15]:
aenc_conn = sqlite3.connect('johari_sqlite.db')
product = pd.read_sql_query('SELECT * FROM PRODUCT', aenc_conn)

for index, row in product.iterrows():
    try:
        query = f"INSERT INTO dbo.rPRODUCT VALUES ({row['PRODUCT_id']}, '{row['PRODUCT_name']}', '{row['PRODUCT_image']}', '{row['PRODUCT_LINE_name']}', '{row['PRODUCT_TYPE_name']}', '{row['PRODUCT_INTRODUCTION_DATE_date']}', {row['PRODUCT_COST_price']}, {row['PRODUCT_MARGIN_dimensions']}, '{row['PRODUCT_LANGUAGE_name']}')"
        export_cursor.execute(query)
        export_conn.commit()
    except Exception as e:
        print(e)
        break

# Read the data from the SQL Server
query = 'SELECT * FROM dbo.rPRODUCT'
product = pd.read_sql(query, export_conn)

product.head()

C:\Users\Jimmy\AppData\Local\Temp\ipykernel_23344\78682237.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product = pd.read_sql(query, export_conn)

,product_product_id,product_name,product_image,product_line_name,product_type_name,product_introduction_date,product_cost,product_margin,product_language
0,1,Moondrop Variations,moondrop.jpg,Moondrop,In-ear monitor,2021-01-01,400.0,0.5,English
1,2,Sony IER-Z1R,sony.jpg,Sony,In-ear monitor,2021-01-01,1100.0,0.6,English
2,3,Truthear Nova,truthear.jpg,Truthear,In-ear monitor,2021-01-01,180.0,0.7,English

BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP

In [13]:
# Now you can use this connection to query data and put it into a pandas DataFrame
sql_query = "SELECT * FROM training"
training = pd.read_sql(sql_query, export_conn)

sql_query = "SELECT * FROM satisfaction"
product = pd.read_sql(sql_query, export_conn)

sql_query = "SELECT * FROM orders"
orders = pd.read_sql(sql_query, export_conn)

sql_query = "SELECT * FROM returned_item"
returned_item = pd.read_sql(sql_query, export_conn)

sql_query = "SELECT * FROM sales_inventory_levels"
sales_inventory_levels = pd.read_sql(sql_query, export_conn)

sql_query = "SELECT * FROM sales_product_forecast"
sales_product_forecast = pd.read_sql(sql_query, export_conn)

sql_query = "SELECT * FROM sales_targetData"
sales_targetData = pd.read_sql(sql_query, export_conn)

# Now you can work with the data in the pandas DataFrame
pd.DataFrame(training.head())

Empty DataFrame
Columns: [TRAINING_course_id, TRAINING_STAFF_id, TRAINING_amount_enrolled_course, TRAINING_amount_enrolled_staff, TRAINING_country, TRAINING_amount_enrolled_course_country, TRAINING_amount_enrolled_staff_country, COURSE_id, SALES_STAFF_id]
Index: []

C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  training = pd.read_sql(sql_query, export_conn)
C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  satisfaction = pd.read_sql(sql_query, export_conn)
C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders = pd.read_sql(sql_query, export_conn)
C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  returned_item = pd.read_sql(sql_query, export_conn)
C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales_inventory_levels = pd.read_sql(sql_query, export_conn)
C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales_product_forecast = pd.read_sql(sql_query, export_conn)
C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales_targetData = pd.read_sql(sql_query, export_conn)