Importeren van modules

In [51]:
import pandas as pd
import pyodbc
import sqlite3

Connectie maken met de officiele SSMS database

In [59]:
DB = {'servername': r'LAPTOP-NIPS1D14\SQLEXPRESS',
    'database': 'johari'}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + 
                     ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

# Read the data from the SQL Server
query = 'SELECT * FROM dbo.satisfaction'
satisfaction = pd.read_sql(query, export_conn)

satisfaction.head()

C:\Users\Jimmy\AppData\Local\Temp\ipykernel_9968\3786044711.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  satisfaction = pd.read_sql(query, export_conn)

Empty DataFrame
Columns: [SATISFACTION_id, SATISFACTION_TYPE_id, SATISFACTION_STAFF_is, SATISFACTION_amount_staff, SATISFACTION_country_percent, SATISFACTION_position_percent]
Index: []

Maak een nieuwe SQLite database. Hier wordt alle bewerkingen toegepast, en wanneer alles klaar is wordt alle gegevens binnen deze SQLite database later overgezet naar de officiele SSMS database

In [55]:
# Maak een nieuwe SQLite-database
conn = sqlite3.connect('test.db')

# Maak een nieuw DataFrame
df = pd.DataFrame({
    'SATISTFACTION_id': [1, 2, 3],
    'SATISTFACTION_TYPE_id': [1, 2, 3],
    'SATISFACTION_STAFF_js': [1, 2, 3],
    'SATISFACTION_amount_staff': [1, 2, 3],
    'SATISFACTION_country_percent': [1, 2, 3],
    'SATISFACTION_position_percent': [1, 2, 3],
})

# Maak een nieuwe tabel van het DataFrame
df.to_sql('new_table', conn, if_exists='replace', index=False)

Zet alle gegevens om van de SQLite .db bestand naar de officiele SSMS database

In [67]:
aenc_conn = sqlite3.connect('test.db')
satisfaction = pd.read_sql_query('SELECT * FROM new_Table', aenc_conn)
satisfaction

for index, row in satisfaction.iterrows():
    try:
        query = f"INSERT INTO dbo.SATISFACTION VALUES ({row['SATISTFACTION_id']}, {row['SATISTFACTION_TYPE_id']}, {row['SATISFACTION_STAFF_js']}, {row['SATISFACTION_amount_staff']}, {row['SATISFACTION_country_percent']}, {row['SATISFACTION_position_percent']})"
        export_cursor.execute(query)
        export_conn.commit()
    except Exception as e:
        print(e)
        break

# Read the data from the SQL Server
query = 'SELECT * FROM dbo.satisfaction'
satisfaction = pd.read_sql(query, export_conn)

satisfaction.head()

C:\Users\Jimmy\AppData\Local\Temp\ipykernel_9968\1230837820.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  satisfaction = pd.read_sql(query, export_conn)

,SATISFACTION_id,SATISFACTION_TYPE_id,SATISFACTION_STAFF_is,SATISFACTION_amount_staff,SATISFACTION_country_percent,SATISFACTION_position_percent
0,1,1,1,1,1,1
1,2,2,2,2,2,2
2,3,3,3,3,3,3
3,1,1,1,1,1,1
4,2,2,2,2,2,2

BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP BACKUP

In [13]:
# Now you can use this connection to query data and put it into a pandas DataFrame
sql_query = "SELECT * FROM training"
training = pd.read_sql(sql_query, export_conn)

sql_query = "SELECT * FROM satisfaction"
satisfaction = pd.read_sql(sql_query, export_conn)

sql_query = "SELECT * FROM orders"
orders = pd.read_sql(sql_query, export_conn)

sql_query = "SELECT * FROM returned_item"
returned_item = pd.read_sql(sql_query, export_conn)

sql_query = "SELECT * FROM sales_inventory_levels"
sales_inventory_levels = pd.read_sql(sql_query, export_conn)

sql_query = "SELECT * FROM sales_product_forecast"
sales_product_forecast = pd.read_sql(sql_query, export_conn)

sql_query = "SELECT * FROM sales_targetData"
sales_targetData = pd.read_sql(sql_query, export_conn)

# Now you can work with the data in the pandas DataFrame
pd.DataFrame(training.head())

Empty DataFrame
Columns: [TRAINING_course_id, TRAINING_STAFF_id, TRAINING_amount_enrolled_course, TRAINING_amount_enrolled_staff, TRAINING_country, TRAINING_amount_enrolled_course_country, TRAINING_amount_enrolled_staff_country, COURSE_id, SALES_STAFF_id]
Index: []

C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  training = pd.read_sql(sql_query, export_conn)
C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  satisfaction = pd.read_sql(sql_query, export_conn)
C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders = pd.read_sql(sql_query, export_conn)
C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  returned_item = pd.read_sql(sql_query, export_conn)
C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales_inventory_levels = pd.read_sql(sql_query, export_conn)
C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales_product_forecast = pd.read_sql(sql_query, export_conn)
C:\Users\noah\AppData\Local\Temp\ipykernel_20780\785295862.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales_targetData = pd.read_sql(sql_query, export_conn)