Howdy ma boi

In [1]:
import pandas as pd
import pyodbc
import sqlite3

In [6]:
DB = {'servername': r'MSI\SQLEXPRESS',
    'database': 'Johari'}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + 
                     ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

In [14]:
# Now you can use this connection to query data and put it into a pandas DataFrame
sql_query = "SELECT * FROM Gold"  # replace with your SQL query
df = pd.read_sql(sql_query, export_conn)

# Now you can work with the data in the pandas DataFrame
print(df.head())

Empty DataFrame
Columns: [Johari, Cheese]
Index: []

C:\Users\noah\AppData\Local\Temp\ipykernel_23184\4231496675.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, export_conn)

In [4]:
aenc_conn = sqlite3.connect('./sqlite/johari.db')
customer_dimensie = pd.read_sql_query('SELECT * FROM customer_dimensie', aenc_conn)
customer_dimensie

DatabaseError: Execution failed on sql 'SELECT * FROM customer_dimensie': file is not a database

In [15]:
for index, row in df.iterrows():
  
  try:
    query = f"INSERT INTO Gold VALUES ({row['Johari']}, '{row['Cheese']}')"
    export_cursor.execute(query)
  except pyodbc.Error:
    print(query)